<!doctype html>
{% load static %}
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    {% load static %}
    {% load i18n %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!----Common CSS3---->
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--Google Material Icons-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'static/css/cx-login.css' %}" rel="stylesheet">
    <title>Registration</title>
  </head>

  <body>
    <div class="login_block p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div class="cx-login-graphic">


          <div class="col-lg-6">
            <div class="login_left verticalm">
              <div class="card m-0 login-left card-style">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert" style="color: black; font-size: 14px;">{{ message }}
                    <span style="font-size: 14px;color: black;float: right;cursor: pointer" class="dot closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  </div>
                {% endfor %}
                <div class="card-body">
                  <div class="text-center mt-3 mb-3">
                    <h4 class="mb-1">Welcome</h4>
                  </div>
                  <form action="{% url 'admin_panel:admin_register' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-4">
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
                      </div>
                         <div class="form-group col-md-12 mb-4">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                      </div>
                      <div class="form-group col-md-12 mb-4">
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                      </div>
                      <div class="form-group col-md-12 mb-4">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                        <button type="button" class="cx-text-btn cx-eye-btn toggle-password fa fa-fw fa-eye-slash">
                          <img src="{%static 'img/ic_view1.svg'%}" class="cx-eye cx-show" alt="view-password"></button>
                      </div>
                        <div class="form-group col-md-12 mb-4">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                        <button type="button" class="cx-text-btn cx-eye-btn toggle-password fa fa-fw fa-eye-slash">
                          <img src="{%static 'img/ic_view1.svg'%}" class="cx-eye cx-show" alt="view-password"></button>
                      </div>
                      <div class="cx-form-group">
                        <label for="image" class="form-label">with Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                      </div>
                    </div>
                    <fieldset>
                       <p>Select rool:</p>
                        <input type="radio" id="admin" name="rool" value="admin">
                        <label for="admin">Admin</label><br>
                        <input type="radio" id="user" name="rool" value="user">
                        <label for="user">User</label><br>
                  </fieldset>
                    <div class="mt-4">
                      <button class="btn btn-primary btn-block">Register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
               </div>
          </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%static 'js/jquery-3.3.1.slim.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script>
      $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        }
        else {
          input.attr("type", "password");
        }
      });
    </script>
  </body>

</html>